h1 {
  color: rgb(61, 128, 121);
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
  margin-top: 5px;
}
h2 {
  font-size: 50px;
  margin: 20px 0 0 0;
  padding: 10px;
}
h3 {
  font-size: 25px;
  margin-top: 2px;
  padding-left: 20px;
  text-align: left;
}
.city-container {
  border: 1px solid transparent;
  box-shadow: 2px 4px 10px grey;
  border-radius: 10px;
  background-color: rgba(84, 144, 136, 0.8);
  display: flex;
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
  height: 50px;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
  padding: 15px 15px 15px 15px;
  width: 500px;
}
.city-date {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 5px;
}
.city-time {
  font-size: 30px;
  font-weight: 600;
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
  margin-top: -6px;
}

.clock {
  color: black;
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 45px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
  margin: 5px;
  margin-bottom: -40px;
  padding: 1px;
}
.date {
  font-size: 25px;
  margin-top: -30px;
  padding: 10px;
}
.date-time {
  padding-right: 30px;
  padding-left: 10px;
  padding-top: 5px;
}
.hide {
  display: none;
}
.hours {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
}
.hours-difference {
  font-size: 15px;
  font-weight: 500;
}
.link {
  color: rgb(232, 133, 12);
}
.main-location {
  background-color: rgba(84, 144, 136, 0.8);
  border: 1px solid transparent;
  box-shadow: 2px 4px 10px grey;
  border-radius: 10px;
  display: block;
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
  font-size: 30px;
  margin: auto;
  margin-top: -20px;
  padding: 15px;
  padding-bottom: 30px;
  width: 500px;
}
.page-container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/180/523/original/wold_map.jpg?1781534463");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-radius: 10px;
  display: block;
  height: 900px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 30px;
  position: relative;
  text-align: center;
  width: 800px;
}
.page-container footer {
  color: rgba(67, 70, 69, 0.5);
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
  left: 0;
  padding: 30px 10px 30px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.select-element {
  border-radius: 8px;
  font-size: 20px;
  padding: 8px 15px;
  margin: 0 auto;
  width: 450px;
}

/* Fonts CSS */
/* .roboto-serif-font {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "wdth" 100,
  "GRAD" 0;
  } */
/* .bitcount-single-font {
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
} */
/* .science-gothic-font {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
} */
